$font-m : 'Zen Old Mincho', serif;
$font-g : 'Noto Sans JP', sans-serif;

$h1-font-size : 28px;
$large-font-size : 48px;
$default-font-size : 14px;
$default-font-color : #333;

// $theme-color : #1b4278;
$theme-color: #005499;
$theme-color-sub :#48c6ef;

$container-width: 1080px;
